In [1]:
import pandas as pd
import numpy as np
import sys

In [2]:
from src.data import read_dataset, make_dataset

# Importing the Data

In [3]:
data = read_dataset.read_fem_preg('../data/external/2002FemPreg.dct',
                                  '../data/external/2002FemPreg.dat')
data

,caseid,pregordr,howpreg_n,howpreg_p,moscurrp,nowprgdk,pregend1,pregend2,nbrnaliv,multbrth,...,poverty_i,laborfor_i,religion_i,metro_i,basewgt,adj_mod_basewgt,finalwgt,secu_p,sest,cmintvw
0,1,1,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,0,3410.389399,3869.349602,6448.271112,2,9,1231
1,1,2,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,0,3410.389399,3869.349602,6448.271112,2,9,1231
2,2,1,NaN,NaN,NaN,NaN,5.0,NaN,3.0,5.0,...,0,0,0,0,7226.301740,8567.549110,12999.542264,2,12,1231
3,2,2,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,0,7226.301740,8567.549110,12999.542264,2,12,1231
4,2,3,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,0,7226.301740,8567.549110,12999.542264,2,12,1231
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13588,12571,1,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,0,4670.540953,5795.692880,6269.200989,1,78,1227
13589,12571,2,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,...,0,0,0,0,4670.540953,5795.692880,6269.200989,1,78,1227
13590,12571,3,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,...,0,0,0,0,4670.540953,5795.692880,6269.200989,1,78,1227
13591,12571,4,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,0,4670.540953,5795.692880,6269.200989,1,78,1227
13592,12571,5,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,0,4670.540953,5795.692880,6269.200989,1,78,1227

In [6]:
data.outcome[read_dataset.make_preg_map(data)[10229]]

11093    4
11094    4
11095    4
11096    4
11097    4
11098    4
11099    1
Name: outcome, dtype: int64

In [34]:
sample = data['basewgt'].tolist()[:100]
sample

[3410.3893993529427,
 3410.3893993529427,
 7226.301739584323,
 7226.301739584323,
 7226.301739584323,
 4870.926434970875,
 4870.926434970875,
 4870.926434970875,
 3409.5795650284417,
 3409.5795650284417,
 3612.781967928808,
 2418.0694936316613,
 2418.0694936316613,
 2418.0694936316613,
 1667.8160988369275,
 1667.8160988369275,
 1667.8160988369275,
 2957.2574567838224,
 2957.2574567838224,
 3408.342437091724,
 3408.342437091724,
 6210.373020021852,
 6210.373020021852,
 3409.5732583268864,
 3409.5732583268864,
 3409.5732583268864,
 3407.794207801112,
 3405.679024558303,
 3405.679024558303,
 3405.679024558303,
 1668.415086705887,
 1668.415086705887,
 4780.75852242667,
 4780.75852242667,
 4780.75852242667,
 1167.7154779591287,
 1167.7154779591287,
 3879.663879198578,
 3879.663879198578,
 3879.663879198578,
 3879.663879198578,
 6819.098357389936,
 15100.70897747286,
 15100.70897747286,
 1805.998151857075,
 1805.998151857075,
 1805.998151857075,
 1805.998151857075,
 4602.96603811086,
 4602.96603811086,
 4602.96603811086,
 3454.926909026408,
 2417.5576986895667,
 2417.5576986895667,
 2417.5576986895667,
 3409.4528097096822,
 3409.4528097096822,
 3410.2087600214954,
 3410.2087600214954,
 3410.2087600214954,
 3613.613534468604,
 3455.2541949883803,
 3455.2541949883803,
 3455.2541949883803,
 3455.2541949883803,
 4343.07529619899,
 2335.596181922446,
 2335.596181922446,
 5634.639491744982,
 5634.639491744982,
 3217.79992518744,
 3217.79992518744,
 3612.9717566198233,
 3612.9717566198233,
 3612.9717566198233,
 3612.9717566198233,
 3612.9717566198233,
 3410.371069380235,
 5317.210197696009,
 5317.210197696009,
 5317.210197696009,
 3827.8341587413415,
 3827.8341587413415,
 4505.6208163119945,
 4505.6208163119945,
 4505.6208163119945,
 4505.6208163119945,
 4505.6208163119945,
 4505.6208163119945,
 4505.6208163119945,
 2335.1177810446766,
 2335.1177810446766,
 2335.1177810446766,
 1806.3070831648088,
 1806.3070831648088,
 1806.511457160973,
 1806.511457160973,
 10592.522092287943,
 10592.522092287943,
 10592.522092287943]

In [64]:
d = {}
bin_edges = np.histogram_bin_edges(sample, bins=10)

for i in range(len(bin_edges) - 1):
    h_margin = bin_edges[i + 1]
    l_margin = bin_edges[i]
    temp = pd.Series(sample)

    d[pd.Interval(l_margin, h_margin)] = len()

In [65]:
d

{Interval(1167.7154779591287, 2561.0148279105015, closed='right'): 26,
 Interval(2561.0148279105015, 3954.3141778618747, closed='right'): 41,
 Interval(3954.3141778618747, 5347.613527813248, closed='right'): 20,
 Interval(5347.613527813248, 6740.91287776462, closed='right'): 4,
 Interval(6740.91287776462, 8134.212227715994, closed='right'): 4,
 Interval(8134.212227715994, 9527.511577667367, closed='right'): 0,
 Interval(9527.511577667367, 10920.81092761874, closed='right'): 3,
 Interval(10920.81092761874, 12314.110277570113, closed='right'): 0,
 Interval(12314.110277570113, 13707.409627521485, closed='right'): 0,
 Interval(13707.409627521485, 15100.70897747286, closed='right'): 2}